# Binaries and temporary files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go cache and dependency files
/go/pkg
/go/bin
*.sum

# Docker-related files
.dockerignore
.env

# Certificates (add this in production to avoid pushing sensitive files)
certs/*.key
certs/*.crt

# IDE/editor-specific files
.idea/
.vscode/
*.swp

# Logs
*.log
*.tmp

# Ignore the Air temp files
tmp/

